:root {
    --couleur-primaire : #858888;
}

body {
color: #1c64f4;
background-color:#858888;
font-family: Fira Code,Monaco,Consolas,Ubuntu Mono,monospace;
}

a {
color: #1c64f4;
}

h1 {
color: #1c64f4;
}

h2 {
color: #1c64f4;
font-family: Fira Code,Monaco,Consolas,Ubuntu Mono,monospace;
}

h3 {
color: #1c64f4;
font-family: Fira Code,Monaco,Consolas,Ubuntu Mono,monospace;
}

table, td, th {
  border: 1px solid #e2af78;
}

table {
  width: 100%;
  border-collapse: collapse;
}

footer, .skip-links{
    display: none;
}

nav ul::before {
  content: "🤖";
  width: 50px;
}

#contact {
background-color: blue ;
}